<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.wuxianjie.springbootweb.oplog.OpLogMapper">
  <insert id="insert">
    insert into op_log (request_time, client_ip, api, username, message)
    values (#{requestTime}, #{clientIp}, #{api}, #{username}, #{message})
  </insert>
</mapper>
