<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.wuxianjie.springbootweb.oplog.OpLogMapper">
  <sql id="whereQuery">
    <where>
      req_time &gt;= #{q.startTime} and req_time &lt;= #{q.endTime}
      <if test="q.username != null">and username like #{q.username}</if>
      <if test="q.clientIp != null">and client_ip like #{q.clientIp}</if>
      <if test="q.message != null">and message like #{q.message}</if>
    </where>
  </sql>

  <select id="selectByQueryOrderByReqTimeDescLimit" resultType="net.wuxianjie.springbootweb.oplog.OpLog">
    select id,
           req_time as reqTime,
           client_ip as clientIp,
           username,
           message
    from op_log
    <include refid="whereQuery"/>
    order by reqTime desc
    limit #{p.offset}, #{p.pageSize}
  </select>

  <select id="countByQuery" resultType="long">
    select count(1)
    from op_log
    <include refid="whereQuery"/>
  </select>

  <insert id="insert">
    insert into op_log (req_time, client_ip, username, message)
    values (#{reqTime}, #{clientIp}, #{username}, #{message})
  </insert>
</mapper>
