<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">

    <!-- Responsive meta tag  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Thymeleaf 首页</title>

    <link th:href="@{images/favicon.ico}" rel="icon">

    <!-- Bootstrap CSS -->
    <link th:href="@{/vendor/bootstrap/bootstrap.min.css}" rel="stylesheet">
  </head>

  <body>
    <div class="container-fluid">
      <h1 class="text-center">吴仙杰演示系统</h1>
      <hr>
      <p class="text-info">欢迎来到 Thymeleaf 首页！</p>

      <form th:action="@{/logout}" method="post">
        <button class="btn btn-primary">注销</button>
      </form>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script th:src="@{/vendor/bootstrap/bootstrap.bundle.min.js}"></script>
  </body>
</html>



