<!DOCTYPE HTML>
<html lang="zh">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{images/favicon.ico}" rel="icon">

    <!-- Bootstrap CSS -->
    <link th:href="@{/vendor/bootstrap/bootstrap.min.css}" rel="stylesheet">

    <title>Thymeleaf 首页</title>
  </head>

  <body>
    <div class="container-fluid">
      <h2>吴仙杰个人演示项目</h2>
      <hr>
      <p class="text-info">欢迎来到 Thymeleaf 首页！</p>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script th:src="@{/vendor/bootstrap/bootstrap.bundle.min.js}"></script>
  </body>
</html>



