<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">

    <!-- Responsive meta tag  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Leader Home Page</title>

    <link th:href="@{images/favicon.ico}" rel="icon">

    <!-- Bootstrap CSS -->
    <link th:href="@{/vendor/bootstrap/bootstrap.min.css}" rel="stylesheet">
  </head>

  <body>
    <div class="container-fluid">
      <h2>Leader Home Page</h2>
      <hr>
      <p>
        The secret for leader tier.
      </p>
      <hr>
      <a th:href="@{/}">Back to Home Page</a>
    </div>
  </body>
</html>



