<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">

    <!-- Responsive meta tag  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>登录</title>

    <link th:href="@{images/favicon.ico}" rel="icon">

    <!-- Bootstrap CSS -->
    <link th:href="@{/vendor/bootstrap/bootstrap.min.css}" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <h3>My Custom Login Page</h3>

      <form th:action="@{/authenticateTheUser}" method="post">
        <p>User name: <input type="text" name="username"></p>
        <p>Password: <input type="password" name="password"></p>
        <input type="submit" value="Login">
      </form>
    </div>
  </body>
</html>



