<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">

    <!-- Responsive meta tag  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>新建用户</title>

    <link th:href="@{/images/favicon.ico}" rel="icon">

    <!-- Bootstrap CSS -->
    <link th:href="@{/vendor/bootstrap/bootstrap.min.css}" rel="stylesheet">
  </head>

  <body>
    <div class="container-fluid text-center">
      <h1 class="mt-3">新建用户</h1>
      <hr>
      <p>
        拥有 <code>USER_ADD</code> 权限才可访问本页。
      </p>
      <hr>
      <a th:href="@{/thymeleaf/}">返回首页</a>
    </div>
  </body>
</html>



